.contact {
  background: #f7f9fc;
  padding-top: 130px;
  padding-bottom: 112px;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 63px;
}

.contact-title, .title2 {
  color: #211f54;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.984px;
}

.title2 {
  margin-top: 86px;
  margin-bottom: 9px;
}

.contact-desc {
  color: #6e7191;
  font-size: 21px;
  font-weight: 400;
  line-height: 30.006px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.btn-white {
  color: #211f54;
  font-size: 18px;
  font-weight: 400;
  line-height: 19.998px;
  padding: 18px 24px;
  border-radius: 14px;
  border: 1px solid #eff0f6;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(20, 20, 43, 0.04);
  transition: 0.5s ease;
}

.btn-white:hover {
  color: #fff;
  background-color: #211f54;
}

@media (max-width: 1000px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .contact-title, .title2 {
    font-size: 38px;
  }

  .contact-desc {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
  }
}
