@font-face {
  font-family: sans-serif;
  src: url(../src/assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: sans-serif;
  src: url(../src/assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: sans-serif;
  src: url(../src/assets/fonts/Roboto-Bold.ttf);
}
:root {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1240px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Roboto";
}

input:focus, textarea:focus {
  outline: none;
}


